.Counter {
    text-align: center;
}

.Counter button {
    margin: 5px;
}

img {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto auto;
}