.container {
    width: 800px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 2px 2px 7px grey;
}
.container .post {
    width: 90%;
    box-shadow: 2px 2px 7px grey;
    padding: 20px;
    margin: 20px auto;
    position: relative;
}
.container input {
    width: 600px;
    margin-bottom: 20px;
    padding: 5px;
    margin-left: 20px;
}
.container button {
    margin-left: 50px;
    width: 70px;
    height: 29px;
}
.container .post span {
    position: absolute;
    top: 20px;
    right: 15px;
    cursor: pointer;
    font-weight: bold;
}
.container .post span:hover {
    color: darkred;
}

img {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto auto;
}